@media (max-width: 1024px) {
    header {
        padding: 0 3rem;
    }

    section {
        padding: 0 3rem;
    }
}

@media (max-width: 1024px) {
    header {
        .nav-con {
            ul {
                padding: 0;
            }
        }
    }

    section {
        &.top {
            height: calc(100vh - 2rem);
        }

        .work-con {
            margin-bottom: 0;

            .work {
                width: calc(100% / 2 - 2rem);
            }
        }
    }
}

@media(max-width: 767px) {
    header {
        padding: 0 2rem;
        position: fixed;
        top: 0;
        .resbars{
            display: flex;
        }
        .outer-nav {
            position: fixed;
            top: -100%;
            width: calc(100% - 2rem);
            left: 0;
            height: calc(100vh - 7rem);
            flex-direction: column;
            background: linear-gradient(225deg, #fad65a, #fe54cb);
            z-index: 6;
            transition: 0.3s all ease-in-out;
            padding: 1rem;
            opacity: 0;

            &.active{
                top: 5rem;
                opacity: 1;
            }            

            .nav-con {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                ul {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    li{
                        margin: 0;
                        a{
                            color: white;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .social-con {
                align-items: center;
                justify-content: center;
                a{
                    margin: 0 1em;
                }
            }

            &.active{
                top: 5rem;
            }
        }
    }

    section {
        flex-direction: column;

        .head {
            margin-top: 0;

            h1 {
                font-size: 4rem;
            }
        }

        &.top {
            height: auto;

            .tagline-con {
                width: 100%;

                h1 {
                    span {
                        font-size: 4rem;
                        display: block;
                    }
                }

                a {
                    &.link {
                        margin: 2rem 0;
                        z-index: 5;
                    }
                }
            }

            .art-con {
                width: 90%;
                margin: auto 0 4rem;

                &:before{
                    left: 0;
                }

                .img-con{
                    left: 10%;
                    .res-img{
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }

        &.profile-sec {
            .pro-con {
                flex-direction: column;

                .img-con {
                    width: 100%;
                }

                .pro-detail {
                    width: 100%;
                    margin-top: 3rem;
                    padding-left: 0;
                }
            }
        }

        .work-con {
            .work {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

@media(max-width: 500px) {
    section {
        padding: 0 2rem;
        &.top {
            .tagline-con {
                span {
                    &.desc {
                        letter-spacing: 0.1em;
                    }
                }
            }
        }

        &.potfolio{
            padding: 3rem 2rem 0rem;
        }

        &.profile-sec {
            .pro-con {
                .pro-detail {
                    p {
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }
}