@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
body {
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

div {
  position: relative;
  display: inline-block; }

div.texture-main {
  -webkit-animation: glow 5s ease-in-out infinite;
          animation: glow 5s ease-in-out infinite;
  opacity: 1;
  height: 40vw;
  width: 40vw;
  left: -41vw;
  top: 69vh;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 11px -51px 300px 9px rgba(0, 162, 255, 0.24);
          box-shadow: 11px -51px 300px 9px rgba(0, 162, 255, 0.24);
  position: absolute;
  z-index: -1; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: -webkit-linear-gradient(75deg, #ffffff, #fad45c);
  background: -o-linear-gradient(75deg, #ffffff, #fad45c);
  background: linear-gradient(15deg, #ffffff, #fad45c);
  -webkit-box-shadow: 0 0 40px -8px #ffffff6e;
          box-shadow: 0 0 40px -8px #ffffff6e;
  z-index: 9; }
  header .logo-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .logo-con span {
      margin: 0;
      font-size: 2rem;
      line-height: 2rem;
      color: #262626; }
      header .logo-con span:first-of-type {
        line-height: 0.8rem;
        font-size: 0.8rem;
        color: #ff0c5b; }
  header .resbars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none; }
    header .resbars span {
      width: 2rem;
      height: 3px;
      background: black;
      margin-bottom: 3px;
      -webkit-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out; }
      header .resbars span:last-child {
        margin: 0; }
    header .resbars.active span:nth-child(2) {
      opacity: 0; }
    header .resbars.active span:nth-child(1) {
      -webkit-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
              transform: rotate(40deg);
      -webkit-transform-origin: 10%;
          -ms-transform-origin: 10%;
              transform-origin: 10%; }
    header .resbars.active span:nth-child(3) {
      -webkit-transform: rotate(-46deg);
          -ms-transform: rotate(-46deg);
              transform: rotate(-46deg);
      -webkit-transform-origin: 30%;
          -ms-transform-origin: 30%;
              transform-origin: 30%; }
  header .outer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 1; }
    header .outer-nav .nav-con ul {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      list-style-type: none;
      padding: 0; }
      header .outer-nav .nav-con ul li {
        margin-right: 1rem;
        padding: 0.5rem;
        cursor: pointer; }
        header .outer-nav .nav-con ul li a {
          color: #262626; }
    header .outer-nav .social-con {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      header .outer-nav .social-con a {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        color: #fffefb;
        padding: 0.5em;
        margin: 0 0.5em; }
        header .outer-nav .social-con a i {
          font-size: 1.3rem; }

section {
  background: white;
  min-height: 100vh;
  padding: 0 10%; }
  section.top {
    min-height: unset;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: -webkit-linear-gradient(225deg, #fad65a, #fe54cb);
    background: -o-linear-gradient(225deg, #fad65a, #fe54cb);
    background: linear-gradient(225deg, #fad65a, #fe54cb); }
    section.top div.texture-3 {
      -webkit-animation: glow 5s ease-in-out infinite;
              animation: glow 5s ease-in-out infinite;
      opacity: 1;
      bottom: 0;
      top: 30%;
      left: 0;
      right: 0;
      -webkit-border-radius: 0;
              border-radius: 0;
      -webkit-box-shadow: 0px 10px 160px -23px rgba(0, 161, 255, 0.24);
              box-shadow: 0px 10px 160px -23px rgba(0, 161, 255, 0.24);
      position: absolute;
      z-index: -1; }
    section.top .tagline-con {
      margin: auto 0;
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      section.top .tagline-con h1 {
        position: relative;
        color: white;
        font-size: 2rem;
        margin: 0; }
        section.top .tagline-con h1 span {
          color: #666666;
          margin: 0;
          font-size: 6rem; }
      section.top .tagline-con span.desc {
        font-weight: normal;
        letter-spacing: 0.3em;
        margin-top: 0.5em;
        display: inline-block;
        color: white;
        font-size: 1.3rem; }
      section.top .tagline-con a.link {
        margin-top: 1em;
        padding: 0.8rem;
        position: relative;
        width: 5rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        color: white;
        background: #f79495; }
        section.top .tagline-con a.link i,
        section.top .tagline-con a.link span {
          z-index: 1; }
    section.top .art-con {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-animation: glow 0.3s ease-in-out forwards;
              animation: glow 0.3s ease-in-out forwards;
      height: 70vh;
      width: 35%;
      opacity: 1;
      margin: auto 0; }
      section.top .art-con::before {
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        right: 5%;
        z-index: -1;
        bottom: -5%;
        border: 3px solid white; }
      section.top .art-con .img-con {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
        section.top .art-con .img-con .res-img {
          display: none; }

@-webkit-keyframes glow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes glow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
      section.top .art-con div.texture-1 {
        -webkit-animation: glow 5s ease-in-out infinite;
                animation: glow 5s ease-in-out infinite;
        opacity: 1;
        bottom: 40%;
        top: 0;
        -webkit-border-radius: 4rem 0;
                border-radius: 4rem 0;
        left: 16%;
        right: 16%;
        -webkit-box-shadow: 0px -10px 150px 0px #e91e6387;
                box-shadow: 0px -10px 150px 0px #e91e6387;
        position: absolute;
        z-index: -1; }
      section.top .art-con div.texture-2 {
        -webkit-animation: glow 5s ease-in-out infinite;
                animation: glow 5s ease-in-out infinite;
        opacity: 1;
        bottom: 0;
        top: 30%;
        left: 0;
        right: 0;
        -webkit-border-radius: 0;
                border-radius: 0;
        -webkit-box-shadow: 0px 10px 160px -23px rgba(0, 161, 255, 0.4);
                box-shadow: 0px 10px 160px -23px rgba(0, 161, 255, 0.4);
        position: absolute;
        z-index: -1; }
  section .head {
    margin-top: 2rem;
    width: 100%; }
    section .head h1 {
      margin: 0;
      color: #fce397;
      font-size: 8rem;
      line-height: 6rem; }
  section.potfolio {
    padding: 3rem 10%; }
  section .work-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 2rem 0; }
    section .work-con .work {
      margin: 0 1rem 1rem 1rem;
      width: calc(100% / 3 - 2rem);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section .work-con .work .wp-block-cover {
        -webkit-box-shadow: 0px 0px 100px -22px #122c43;
                box-shadow: 0px 0px 100px -22px #122c43;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
        min-height: 12rem;
        width: 100%;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0.5rem 0; }
        section .work-con .work .wp-block-cover img {
          min-width: 100%;
          height: 100%; }
      section .work-con .work h2 {
        margin: 0;
        color: #666666; }
      section .work-con .work p {
        margin: 0 0 0.5em 0;
        font-size: 0.9rem;
        color: #262626; }
      section .work-con .work .author-con {
        color: #b3b3b3;
        font-weight: bold; }
        section .work-con .work .author-con a {
          color: #f29b7a; }
        section .work-con .work .author-con span.time {
          font-weight: normal;
          font-size: 0.7rem; }
        section .work-con .work .author-con span.author-name {
          color: #f29b7a; }
      section .work-con .work .wp-block-button, section .work-con .work .action {
        width: 100%; }
        section .work-con .work .wp-block-button a, section .work-con .work .wp-block-button span, section .work-con .work .action a, section .work-con .work .action span {
          width: 100%;
          padding: 0.5rem 0;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
          -webkit-justify-content: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          color: white;
          font-weight: bold;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background: -webkit-linear-gradient(135deg, #fbaa81, #fce397);
          background: -o-linear-gradient(135deg, #fbaa81, #fce397);
          background: linear-gradient(-45deg, #fbaa81, #fce397); }
          section .work-con .work .wp-block-button a i, section .work-con .work .wp-block-button a span, section .work-con .work .wp-block-button span i, section .work-con .work .wp-block-button span span, section .work-con .work .action a i, section .work-con .work .action a span, section .work-con .work .action span i, section .work-con .work .action span span {
            z-index: 1; }
          section .work-con .work .wp-block-button a:hover::after, section .work-con .work .wp-block-button span:hover::after, section .work-con .work .action a:hover::after, section .work-con .work .action span:hover::after {
            top: 4px;
            bottom: 4px;
            left: 4px;
            right: 4px; }
      section .work-con .work:nth-child(1) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px #572632;
                box-shadow: 0px 0px 100px -22px #572632; }
      section .work-con .work:nth-child(2) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px rgba(117, 18, 42, 0.78);
                box-shadow: 0px 0px 100px -22px rgba(117, 18, 42, 0.78); }
      section .work-con .work:nth-child(3) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px #122c43;
                box-shadow: 0px 0px 100px -22px #122c43; }
      section .work-con .work:nth-child(4) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px #360f4d;
                box-shadow: 0px 0px 100px -22px #360f4d; }
      section .work-con .work:nth-child(5) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px #033249;
                box-shadow: 0px 0px 100px -22px #033249; }
      section .work-con .work:nth-child(6) .img-con {
        -webkit-box-shadow: 0px 0px 100px -22px #0639a8e3;
                box-shadow: 0px 0px 100px -22px #0639a8e3; }
  section.profile-sec .pro-con {
    margin: 2rem 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    section.profile-sec .pro-con .img-con {
      -webkit-box-shadow: 0px 0px 100px -22px #0639a8e3;
              box-shadow: 0px 0px 100px -22px #0639a8e3;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 35%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      section.profile-sec .pro-con .img-con img {
        max-width: 100%; }
    section.profile-sec .pro-con .pro-detail {
      width: 65%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 0 0 3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.profile-sec .pro-con .pro-detail h1 {
        position: relative;
        margin: 0;
        color: #262626;
        font-size: 6rem;
        margin-bottom: 0.5rem;
        line-height: 5rem; }
        section.profile-sec .pro-con .pro-detail h1.sub-head {
          font-size: 2.5rem;
          line-height: 2.5rem; }
      section.profile-sec .pro-con .pro-detail p {
        font-weight: normal;
        letter-spacing: 0.3em;
        margin-top: 0.5em;
        display: inline-block;
        color: #212121;
        font-size: 1.3rem; }
        section.profile-sec .pro-con .pro-detail p span {
          color: white;
          font-style: 5rem;
          font-weight: bold; }
        section.profile-sec .pro-con .pro-detail p:first-of-type {
          margin-top: 0; }

footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5rem;
  background: -webkit-linear-gradient(75deg, #ffffff, #fad45c);
  background: -o-linear-gradient(75deg, #ffffff, #fad45c);
  background: linear-gradient(15deg, #ffffff, #fad45c);
  -webkit-box-shadow: 0 0 80px -11px #35353540;
          box-shadow: 0 0 80px -11px #35353540; }
  footer .social-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    footer .social-con a {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: #fffefb;
      padding: 0.5em;
      margin: 0 0.5em; }
      footer .social-con a i {
        font-size: 1.3rem; }
  footer .details-sec {
    text-align: center;
    color: gray;
    letter-spacing: 0.5rem; }

@media (max-width: 1024px) {
  header {
    padding: 0 3rem; }
  section {
    padding: 0 3rem; } }

@media (max-width: 1024px) {
  header .nav-con ul {
    padding: 0; }
  section.top {
    height: calc(100vh - 2rem); }
  section .work-con {
    margin-bottom: 0; }
    section .work-con .work {
      width: calc(100% / 2 - 2rem); } }

@media (max-width: 767px) {
  header {
    padding: 0 2rem;
    position: fixed;
    top: 0; }
    header .resbars {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header .outer-nav {
      position: fixed;
      top: -100%;
      width: calc(100% - 2rem);
      left: 0;
      height: calc(100vh - 7rem);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background: -webkit-linear-gradient(225deg, #fad65a, #fe54cb);
      background: -o-linear-gradient(225deg, #fad65a, #fe54cb);
      background: linear-gradient(225deg, #fad65a, #fe54cb);
      z-index: 6;
      -webkit-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out;
      padding: 1rem;
      opacity: 0; }
      header .outer-nav.active {
        top: 5rem;
        opacity: 1; }
      header .outer-nav .nav-con {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        header .outer-nav .nav-con ul {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: space-evenly;
          -webkit-justify-content: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly; }
          header .outer-nav .nav-con ul li {
            margin: 0; }
            header .outer-nav .nav-con ul li a {
              color: white;
              font-size: 1.5rem; }
      header .outer-nav .social-con {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        header .outer-nav .social-con a {
          margin: 0 1em; }
      header .outer-nav.active {
        top: 5rem; }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section .head {
      margin-top: 0; }
      section .head h1 {
        font-size: 4rem; }
    section.top {
      height: auto; }
      section.top .tagline-con {
        width: 100%; }
        section.top .tagline-con h1 span {
          font-size: 4rem;
          display: block; }
        section.top .tagline-con a.link {
          margin: 2rem 0;
          z-index: 5; }
      section.top .art-con {
        width: 90%;
        margin: auto 0 4rem; }
        section.top .art-con:before {
          left: 0; }
        section.top .art-con .img-con {
          left: 10%; }
          section.top .art-con .img-con .res-img {
            display: block;
            max-width: 100%; }
    section.profile-sec .pro-con {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.profile-sec .pro-con .img-con {
        width: 100%; }
      section.profile-sec .pro-con .pro-detail {
        width: 100%;
        margin-top: 3rem;
        padding-left: 0; }
    section .work-con .work {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

@media (max-width: 500px) {
  section {
    padding: 0 2rem; }
    section.top .tagline-con span.desc {
      letter-spacing: 0.1em; }
    section.potfolio {
      padding: 3rem 2rem 0rem; }
    section.profile-sec .pro-con .pro-detail p {
      letter-spacing: 0.1em; } }
